body {
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 0 20px 0 20px;
}

#header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: orange;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: rgb(103, 151, 151);
}

#timer {
  height: 130px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 30px;
  background-color: pink;
}

#time {
  visibility: hidden;
}

.game-container {
  height: 600px;
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: grey;
}

.top,
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: end;
}

.middle {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.mini-container {
  display: flex;
  justify-content: center;
}

.ground {
  height: 22%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: brown;
}

#start {
  height: 50px;
  width: 150px;
}

#start:hover {
  cursor: pointer;
}

.pipe,
.goomba,
.mario {
  height: 130px;
  width: auto;
}

.pipe {
  position: relative;
  z-index: 1;
}

.goomba,
.mario {
  position: absolute;
}

.up {
  transform: translateY(-130px);
}
